/*------------------------------------------------------------------
Author's custom styles
========================================================================== */
@font-face {
    font-family: 'pluto_sans';
    src: url('/static/fonts/plutosansregular-webfont.woff');
   font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pluto_sans_bold';
    src: url('/static/fonts/plutosansbold-webfont.woff');
   font-weight: bold;
    font-style: normal;
}

/*------------------------------------------------------------------
   Social media icon fonts from Fontfabric (www.fontfabric.com)
   ========================================================================== */
@font-face {
    font-family: 'socialicoregular';
    src: url('/static/fonts/socialico-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'socialico_plusregular';
    src: url('/static/fonts/socialico_plus-webfont.woff');
    font-weight: normal;
    font-style: normal;
}




/*------------------------------------------------------------------
CPt Custom  Stylesheet
-------------------------------------------------------------------*/
.logo-brand img {
    top: 3px;
}

.gradient {
	background: #0099d8;
	/* Old browsers */
	background: -moz-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0099d8), color-stop(100%, #00cdff));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
	/* IE10+ */
	background: linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099d8', endColorstr='#00cdff', GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */

}
.blend_bg {
	color: #fff;
	font-size: 1.2em;
}

.menuzord-menu > li > a  {
padding: 0 0 0 16px;
}
.menuzord {
    padding: 0 15px;
}
.team-pic img {
	float: left;
	margin-right: 30px;
	margin-left: 15px;
}

.team-pic p {
	line-height: 24px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #F5F1EA;
}

.top-nav > li > a {
    font-family: 'pluto_sans_bold';
	font-size: 10px;
	padding-bottom: 15px;
	padding-top: 20px;
	color: #aaa6a0;
}

.main-nav > li > a {
	    font-family: 'pluto_sans_bold';
	    font-size: 14px;
	    color: #0099d8;
}



.main-nav > li > a:hover {
	    font-family: 'pluto_sans_bold';
	    font-size: 14px;
	    color: #231F20 !important;
}

.top-nav > li > a:hover {
	    color: #231F20 !important;
}

.main-address p {
	font-family: 'pluto_sans';
	text-align: right;
	font-size: 13px;
	line-height: 20px;
    color: #444;
}

.heading-title h1, .heading-title h2, .heading-title h3, .heading-title h4, .heading-title h5, .heading-title h6 {
	letter-spacing: 0px;
	text-transform: uppercase;
}

.heading-title-alt h1, .heading-title-alt h2, .heading-title-alt h3, .heading-title-alt h4, .heading-title-alt h5, .heading-title-alt h6 {
	font-family: 'pluto_sans', Arial, sans-serif;	
	letter-spacing: 0px;
}

.heading-title-alt h6 {
	font-size: 15px
}

.heading-title-alt p {
	margin-bottom: 0px;
}

.logo-brand {
	margin-right: 8px;
	margin-bottom: 8px;
}

.l-navbar-wrapper_has-sticky .logo-brand,
.l-navbar-wrapper_has-sticky .menuzord-menu > li > a {
    line-height: 95px;
}

.l-navbar-wrapper_has-sticky .top-nav > li > a {
    line-height: 10px;
}

.dropdown-menu {
	top: 30px !important;
	right: 15px;
	left: auto;
	white-space: normal;
}

.secondary-nav-mobile {
	display: none;
	position: relative;
}

dl.secondary-nav-mobile {
	padding: 0px;
	margin: 0px;
}

.secondary-nav-mobile > dt {
	margin-bottom: 0px;
}

section.page-title.secondary-nav-mobile {
	padding: 0px;
}

.l-header {
	position: relative;
}

.l-navbar-wrapper_has-sticky .menuzord-menu  > li > a {
    line-height: 30px;
}

.menuzord-menu.menuzord-right {
	float: right;
	clear: right;
	text-align: right;
}

.l-navbar {
	background-color: #F5F1EA;
}

.page-content {
	padding: 58px 0;
}

a,
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a,
.portfolio-with-title .portfolio-title h4 a:hover,
.f-link:hover,
#footer .f-list li a:hover,
.featured-item.border-box:hover .icon i,
.post-single .post-cat li a:hover,
.post-single .post-desk h4 a:hover,
.post-single .post-desk a.author:hover,
.post-list .post-single .post-cat li a,
.portfolio-description a:hover,
.portfolio-title a:hover,
.post-sub-title,
.team-member .s-link a:hover,
.t-s-link a:hover,
.price-col.feature h1,
.widget-category li a:hover,
.widget-comments li a:hover,
.blog-classic .blog-post h4 a:hover,
.post-meta li a:hover,
.widget-latest-post .w-desk a:hover,
.comments-list .comment-author a:hover,
.comments-list .comment-item-data a:hover,
.product-title h5 a:hover,
.comments-list .comment-info a:hover,
.portfolio-with-title.blog-m .portfolio-title .date a:hover,
.comments-list .comment-info .comment-author a:hover,
.icon-tabs .nav-pills > li > a:hover,
.icon-tabs .nav-pills > li.active > a,
.icon-tabs .nav-pills > li.active > a:focus,
.icon-tabs .nav-pills > li.active > a:hover,
.cd-nav .cd-primary-nav li.selected a,
.no-touch .cd-nav .cd-primary-nav a:hover,
.intro-portfolio a:hover {
	color: #0999D6;
}	

a {
	color: #0999D6;
}

a:hover, a:focus {
	color: #F05C22;
}

::selection {
	color: inherit;
	background: #F6F1EA;
}

.l-navbar_t-light {
    background: #F6F1EA;
}

section.page-title {
    padding: 22px 0px;
    background-image: linear-gradient(90deg, #00AADF 0%, #0999D6 62%);
}

.secondary-nav {
	color: #ffffff;
	text-align: center;
}

.toggle > dt > a {
	font-family: 'pluto_sans', Arial, sans-serif;
	letter-spacing: 0px;
	text-decoration: none;
}

.toggle > dt > a:after {
    content: "\F107";
    font-family: "FontAwesome";
	color: #ffffff;
	right: 15px;
    -webkit-font-smoothing: antialiased; 
    speak: none;
}

.toggle > dt > a:hover, .toggle > dt > a.active {
	color: #fff;
	border-color: transparent;
	background: transparent;
}

.toggle > dt > a.active:after,
.toggle > dt > a.active:hover:after {
    content: "\F106";
    color: #fff;
}

.toggle > dd {
	line-height: 2.5;
}

.toggle > dd > a {
	color: #ffffff;
	font-size: 13px;
	line-height: 22px;
	font-weight: normal;
	text-transform: uppercase;
}

.toggle > dt > a {
	position: relative;
	display: block;
	text-decoration: none;
	letter-spacing: 1px;
	color: #ffffff;
	border: none;
	background: transparent;
}

.page-title .breadcrumb {
	position: relative;
	right: 30px;
	left: auto;
	margin-top: 0px;
}

.breadcrumb li {
    text-transform: none;
}

.breadcrumb li > a {
	color: #ffffff;	
}

.breadcrumb li > a:hover {
	color: #ffffff;	
	padding-bottom: 2px; 
	border-bottom: 1px solid #ffffff;	
}

.breadcrumb > .active {
	color: #ffffff;	
	padding-bottom: 2px;
	border-bottom: 1px solid #ffffff;	
}

.page-title .breadcrumb {
	font-size: 13px;
}

.breadcrumb>li+li:before {
	padding: 0 10px;
	color: #63bde3;
	content: "|"
}

.user-name  {
	text-align: left;
	float: left;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 0px;
	border: none;
	color: #333 !important;
}

.user-name  a {
	color: #333;
}

.user-name  a:hover {
	color: #F05C22;
}

.account-name  {
	float: right;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 15px;
	border: none;
}

.body {
	color: #231F20;
}
label {
		font-family: "arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #231F20;

}
.tab-content {
	font-family: "arial", sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #231F20;
}
p {
	color: #231F20;
}

h1 {
	line-height: 1.1;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'pluto_sans_bold', Arial, sans-serif;
	letter-spacing: 0px;
	margin-bottom: 20px;
}

h2 {
	font-family: 'pluto_sans_bold', Arial, sans-serif;
	font-size: 26px;
}

.heading-sub-title {
	font-size: 10px;
	font-weight: bold;
}

.heading-title-alt span {
    letter-spacing: .5px;
    color: #999;
    font-size: 10px;
    font-weight: 600;
}

.heading-title-alt h1 {
	font-family: 'pluto_sans_bold', Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0px;
}

.heading-title-alt h5 {
	letter-spacing: 0px;
}
.theme-color > .heading-title span.heading-sub-title, .heading-title-alt span.heading-sub-title {
	color: #000 !important;
}

.text-regular {
	font-family: 'pluto_sans', Arial, sans-serif;
}

.heading-title span.heading-sub-title, .heading-title-alt span.heading-sub-title {
	font-weight: bold;
	font-size: 10px;
}

.heading-title span.heading-sub-title, .heading-title-alt span.heading-sub-title {
	letter-spacing: 1px;
}

.testimonial .content p {
	color: #231F20;
}

.divider.d-single {
	border-top: 3px solid #323232;
	margin: 45px 0;
}
.divider.d-single-light {
	border-top: 1px solid #a1a1a1;
	margin: 0 0 45px 0;
}
.table-total {
	border-top: 1px solid #323232;
	border-bottom: 0px;
}

.table-total>tbody>tr>th, .table-total>tbody>tr>td {
	padding-top: 15px !important;
	margin-top: 15px !important;
}

.hero {
	min-height: 320px;
	background-size: cover;
	overflow: hidden;
    background-position: center center; 
    margin: 0;
}
.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6, .hero p {
	color: #ffffff;
	margin: 0 0 20px;
}
.hero p {
	line-height: 22px;
}
.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
	text-transform: uppercase;
}
#cta {
	position: relative;
}
#cta-text-left {
	position: absolute;
	top: 0;
	left: 0;
	height: 30%;
	width: 100%;
	margin: 40px auto;
}
.ship-to-address {
	color: #231F20;
	font-size: 15px;
	line-height: 24px;
}


.heading-title-alt-first h3 {
	margin-top: 30px;
	margin-bottom: 0px !important;
}

.heading-title-alt {
	margin-bottom: 15px;
	margin-top: 15px;
}

.list p {
	margin-bottom: 0px;
}

.btn {
	white-space: normal;
	text-transform: capitalize;
}

.btn-right {
	float: right;
	margin-right: 0px;
}
button, input, select, textarea {
	font-family: 'pluto_sans';
}

.btn-link {
	color: #333;
}

.btn-link:hover {
	color: #F05C22;
	text-decoration: none;
}

.btn-link:focus {
	color: #333;
	text-decoration: none;
}

.btn-link:hover {
	color: #F05C22;
}

.btn-extra-small {
	font-size: 12px;
	padding: 1px 5px;
}

.btn-small {
	margin-top: 15px;
	margin-bottom: 30px;
    background-color: #ffffff;
    color:#0099D8;
}

.btn-small-light {
	margin-top: 8px;
	margin-bottom: 20px;
    background-color: transparent;
    color:#ffffff;
}

.btn-theme-border-color, .widget-social-link a:hover, .widget-tags a:hover {
	border: 1px solid #0099D8;
}

.btn-theme-border-color:hover, .price-col.feature .p-btn:hover, .side-social-link a:hover, .massive-progress.progress-theme-color .progress-bar > span:before {
	border: 1px solid #F05C22;
}

.btn-theme-color,  .btn-dark-solid:focus, .btn-theme-border-color:hover {
	color: #F05C22;
}

.btn-dark-solid {
	background-color: #0099D8;
	color: #ffffff;
}
.btn-dark-solid:hover {
	background-color: #F05C22 !important;
}


a, .btn {
	-webkit-transition: all .2s;
	transition: all .2s;
}

.accordion.time-line > dt > a:hover:after, .accordion.time-line > dt > a.active:after, .accordion.time-line > dt > a.active:hover:after, .toggle.time-line > dt > a:hover:after, .toggle.time-line > dt > a.active:after, .toggle.time-line > dt > a.active:hover:after, .btn-dark-solid:hover, .btn-dark-solid:focus, .btn-theme-color, .btn-theme-border-color:hover, .btn-light-solid:hover, .feature-border-box:hover .icon, .price-col.feature .p-btn:hover, .side-social-link a:hover, .widget-social-link a:hover, .widget-tags a:hover, .sale-label, .stock .status, .lift-off:hover, .menuzord-menu ul.dropdown li:hover > a, .menuzord-menu > li > .megamenu .megamenu-row li:hover a, .travel-form.icon-tabs .nav-pills > li > a:hover, .travel-form.icon-tabs .nav-pills > li.active:hover > a, .travel-form.icon-tabs .nav-pills > li.active > a, .travel-form.icon-tabs .nav-pills > li.active > a:focus {
	background: #fff;
}

.top-cta {
	float: right;
	margin: 0px 0px 8px 15px;
}


.order-summary {
	background-color: #f8f8f8;
	margin-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
	float: right;
	margin-right: 30px;
}

.shipment-summary {
	background-color: #ffffff;
	padding-left: 20px;
	border-radius: 0px;
	padding-right: 0px;
	margin-bottom: 45px;
}

.top-table {
	margin-top: 15px;
	margin-bottom: 30px;
}

.table-scroll {
	overflow-x: auto;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 13px 8px;
}
.table-simple>tbody>tr>td, .table-simple>tbody>tr>th, .table-simple>tfoot>tr>td, .table-simple>tfoot>tr>th, .table-simple>thead>tr>td, .table-simple>thead>tr>th {
	padding: 5px 8px;
}
.table-simple {

}
.table {
	margin-bottom: 15px;
	font-size: 14px;
}
.table th {
	font-size: 13px;
	padding-bottom: 12px !important
}
.table-overview h2 {
	margin-bottom: 7px
}

.table-overview {
		border-top: 3px solid #333;
		padding-top: 50px;
/*	background-color: #f8f8f8;
	margin-top: 45px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px;
	float: right;
	margin-right: 30px;*/
}
.table-list {
	padding-top: 30px;
	padding-left: 25px;
	padding-right: 25px;
}
.table-end {
	margin-bottom: 20px;
}
.table-money>tbody>tr> {
	padding: 0 8px 8px 8px;
}
.table-money>tbody>tr>th {
	white-space: nowrap;
	font-size: 12px;
	color: #333;
	text-transform: uppercase; 
	letter-spacing: .5px;
	text-align: left;
}

.table-money th {
	text-align: right;
}

.price-summary h4 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.table-money>tbody>tr>td {

	vertical-align: top !important;
		text-align: right;
}

.lot {
		white-space: nowrap;
}

#first-item {
	text-align: left !important;
}

#last-item {
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-align: left;
}



.table>tbody>tr>td {
	vertical-align: middle;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th  {
	border-top: 1px solid #818284;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th .last {
	border-bottom: 1px solid #818284;
}

.table>thead>tr>th {
	border-bottom: 1px solid #818284;
}


.table-simple td {
	border-top: 0px solid #fff !important;
	border-bottom: none !important;
}

.table-simple th {
	border-top: 0px solid #fff !important;
	border-bottom: none !important;
}
.icon-chevron-down {
	font-size: 75%;
	color:#0999D6;
}

.icon-chevron-down:hover {
	font-size: 75%;
	color:#F05C22
}

.fa.fa-chevron-right.fa-stack-1x {
    padding: 1px 0 0 2px;
    font-size: 13px;
}

.secondary-icon {
	padding: 1px 0 0 2px; 
	color: #fff;
}

.testimonial li {
	padding: 0 0 30px 0;
	height: 100%;
}
.sub-title-first {
	font-size: 12px;
	line-height: 20px;
	padding-right: 14px;
}

.sub-title {
	font-size: 12px;
	line-height: 20px;
	padding-right: 14px;
	padding-left: 14px;
}

.td-center {
	text-align: center !important;
}

.testimonials img {
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.testimonials .team-info {
	text-align: left;
}

.team-info p {
	line-height: 26px;
}
.no-desktop {
 	display: none;
}

.no-mobile {
	display: inline-block;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color:#0099D8;
    border-color:#0099D8;
}

.pagination > li > a, .pagination > li > span {
    color: #0099D8;

}
.dataTables_filter {
     display: none;
}

.dataTables_length {
     display: none;
}
.dataTables_info {
	padding-top: 27px;
}
.form-control {
	border: 1px solid #818284;
	font-size: 13px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.list-filter {
	display: inline-block;
	width: 250px;
	float: right;
    border: 1px solid #818284;
    border-radius: 0px;
    box-shadow: none;
    font-size: 13px;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color: #323232;
}
.pagination {
	float: right;
}

select {
    padding: 10px;
    border: 1px solid #818284;
    margin-left: 10px;
    padding: 0px 1px 0px 10px;
    border: 1px solid #818284;
    margin-left: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    background: #fff url('/static/img/select-icon.svg') no-repeat right 10px top 14px / 7px 7px;
    padding-right: 25px;
    height: 32px;
}

.input-sm {
	border-radius: 0px;
}
	select.input-sm {
		height: 34px;
		line-height: normal;
		padding: 6px 12px;
	}

.select-menu {
	width: 100%;
	margin-bottom: 20px;
}

.text-right {
	text-align: right;
}

.product-titles {
	font-family: arial;
	font-size: 17px;
    font-family: 'pluto_sans',Arial,sans-serif;
}
.product-details {
	font-family: arial;
	font-weight: normal;
	font-size: 12px;
	line-height: 20px;
	color: #333;
	margin-bottom: 20px;
}


.table-product {
	padding-left: 0px !important;
	padding-top: 0px !important;
}

.offwhite-bg {
	background-color: #F5F1EA;
}

.nav-tabs {
	font-size: 13px;
    font-family: 'pluto_sans',Arial,sans-serif;

}

.nav-tabs > li > a {
	padding: 20px 30px;
    letter-spacing: .5px;
    color: #aaa6a0;
}

.line-tab .nav-tabs > li.active > a {
	color: #000;
}

.login .form-group button {
	margin-bottom: 0px;
}
.alert {
margin: 0 auto 30px;
}
.column-icon {
	padding-left: 0px !important;
	padding-right: 0px !important;

}
.column-icon img {
	width: 60%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.column-icon p {
	line-height: 24px;
	text-align: center;
}

/*********************************************************
footer
*******************************************************/



footer {
    padding: 28px 30px 22px 30px;
    margin-top: 0px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    z-index: 98;
	}

    footer a {
        color: #fff;
        font-family: 'pluto_sans_bold',Arial,sans-serif;
    }

        footer a:hover {
            color: #231f20;
        }

    footer .contact {
        margin: 75px 0 26px 0;
        border-top: solid 4px #fff;
        border-bottom: solid 1px #fff;
        padding: 5px 0 5px 0;
    }

        footer .contact h2 {
            display: inline-block;
            width: 286px;
            margin-top: 23px;
            vertical-align: top;
            padding-right: 29px;
        }

        footer .contact address {
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            padding: 23px 0 17px 0;
            font-style: normal;
        }

    footer .legal {
        overflow: auto;
        font-size: 0;
        letter-spacing: 1px;
    }

        footer .legal div {
            float: left;
            font-size: 12px;
        }

        footer .legal ul {
            float: right;
            margin: 0;
            padding: 0;
            list-style: none;
        }

            footer .legal ul li {
                display: inline-block;
            }

                footer .legal ul li a {
                    font-size: 12px;
                    padding-left: 10px;
                    border-left: solid 1px #fff;
                    margin-left: 10px;
                    line-height: 1;
                }

                footer .legal ul li:first-child a {
                    border-left: none;
                }


    footer .social {
        overflow: auto;
        font-size: 0;
        letter-spacing: 1px;
    }

        footer .social div {
            float: left;
            font-size: 12px;
        }

        footer .social ul {
            float: right;
            margin-top: 12px;
            padding: 0;
            list-style: none;
        }

            footer .social ul li {
                display: inline-block;
            }

                footer .social ul li a {
                    font-size: 12px;
                    padding-left: 10px;
                    border-left: none;
                    margin-left: 10px;
                    line-height: 1;
                }

                    footer .social ul li a span:first-child {
                        font-size: 2.75em;
                        padding-right: 10px;
                        text-transform: none;
                    }

                    footer .social ul li a span.text {
                        vertical-align: 60%;
                    }

                    footer .social ul li a span.ico {
                        font-family: 'socialicoregular';
                    }

                    footer .social ul li a span.icoplus {
                        font-family: 'socialico_plusregular';
                    }



/*------------------------------------------------------------------
Media Queries
-------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {
	
	.testimonials {
		text-align: center;
	}
	.team-info p {
		line-height: 26px;
		text-align: center;
	}

	.team-pic img {
		float: none;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.hero {
		min-height: 400px;
		background-size: cover;
		overflow: hidden;
	    background-position: center center; 
	    margin: 0;
	}

	.dropdown-menu {
		margin: 7px 15px;
		right: inherit;
	}
	.dropdown-menu>li>a {
		white-space: normal;
	}
	 .no-desktop {
	 	display: block;
	 }
 	 .no-mobile {
	 	display: none;
	 }

	.logo-brand img {
	    width: 170px !important;
	}
	.btn {
	margin-right: 0px;
	}
	.table {
		margin-bottom: 15px;
	}
	.top-table {
		margin-bottom: 60px !important;
	}
	.row.testimonials {
		margin-bottom: 45px;
	}
	.container-fluid, .col-lg-1, .col-md-1, .col-sm-1, .col-xs-1, .col-lg-2, .col-md-2, .col-sm-2, .col-xs-2, .col-lg-3, .col-md-3, .col-sm-3, .col-xs-3, .col-lg-4, .col-md-4, .col-sm-4, .col-xs-4, .col-lg-5, .col-md-5, .col-sm-5, .col-xs-5, .col-lg-6, .col-md-6, .col-sm-6, .col-xs-6, .col-lg-7, .col-md-7, .col-sm-7, .col-xs-7, .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8, .col-lg-9, .col-md-9, .col-sm-9, .col-xs-9, .col-lg-10, .col-md-10, .col-sm-10, .col-xs-10, .col-lg-11, .col-md-11, .col-sm-11, .col-xs-11, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12 {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 992px) {
	.team-pic img {
		float: none;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.team-info p {
		line-height: 26px;
		text-align: center;
	}
}


@media only screen and (max-width: 768px) {
	.menuzord .showhide {
	    padding: 18px 0 0;
    }
	.no-desktop {
	 	display: block;
	}
 	.no-mobile {
	 	display: none;
	}

	

	.account-name {
		margin: auto;
		padding-left: 0px;
		padding-right: 0px;
		float: none;
		text-align: center;
	}

	.menuzord-menu > li {
		margin: 0px;
	}

	.top-nav > li > a {
		font-size: 13px;
		font-weight: normal;

	}

	.menuzord-responsive .menuzord-menu > li:first-child > a {
		border-top: none;
	}

	.secondary-nav-mobile {
		display: block;
	}

	.secondary-nav {
		display: none;
	}

	section.page-title.js-navbar-sticky {
		padding: 20px 0px;
	}

	section.page-title {
	    padding: 6px 0px !important;
		background: #0099d8;
		/* Old browsers */
		background: -moz-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
		/* FF3.6+ */
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0099d8), color-stop(100%, #00cdff));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
		/* IE10+ */
		background: linear-gradient(45deg, #0099d8 0%, #00cdff 100%);
		/* W3C */
		filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0099d8', endColorstr='#00cdff', GradientType=1 );
		/* IE6-9 fallback on horizontal gradient */
	    margin-top: 0px;
	    z-index: 100;
    }

    section.page-title > .div > .col-md-12 {
    	padding: 0px;
    }

    .account-name p {
    	text-align: center !important;
    }

    footer h2 {
        margin: 1em 0;
    }

    footer .contact {
        margin: 48px 0 26px;
    }

    /*footer .contact h2 { margin: 38px 0 15px; }*/
    /*footer .contact address { padding: 10px 0 32px 0; }*/
    footer .legal { overflow: visible; }
    footer .legal div,
    footer .legal ul { font-size: 10px; float: none; }
    footer .legal ul li { display: block; }
    footer .legal ul li a {
        padding: 0;
        margin: 0;
        border: none;
        font-size: 10px;
    }    

    footer .social { overflow: visible; }
    footer .social div,
    footer .social ul { font-size: 10px; float: none; margin-top: 8px; }
    footer .social ul li { display: block; padding-bottom: 5px; }
    footer .social ul li a {
        padding: 0;
        margin: 0;
        border: none;
        font-size: 10px;
    } 
 	


}






@media only screen and (min-width: 1170px) {
	.container {
		width: 980px;
	}
}


 
#user-account-control {
    padding: 16px 0;
}
 
@media (max-width: 767px) {
    #sticky-wrapper {
        position: absolute !important;
        top: 58px !important;
        height: 400px !important;
        width: 100% !important;
    }
    .l-header {
	position: absolute;
}
 
    .page-title.js-navbar-sticky {
        position: absolute;
        width: 100%;
        top: 0px !important;
        z-index: 100;
    }
    #user-account-control{
		padding-top: 130px;
    }
    .menuzord-menu {
    	margin-bottom: 15px !important;
    }
}