{% extends "base.html" %}

{% block header %}
    <title>Account Details</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-7 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h1>Account Details</h1>
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12">
                        <a href="#" class="btn btn-small btn-theme-border-color top-cta btn-block">REQUEST CHANGE TO PROFILE</a>
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Account Name</span>
                                <h2 class="text-uppercase text-regular">Vallen - Raleigh, NC</h2>
                            </div>
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Account Address</span>
                                <h3 class="text-uppercase text-regular">2820 Yonkers Rd <br />Raleigh, NC 27604-3230, USA</h3>
                            </div>
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Company Website</span>
                                <h4 class="text-regular"><a href "#">vallen.com</a></h4>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-12">   
                            <table class="top-table table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Account Number:</th>
                                        <td>558396</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Phone Number:</th>
                                        <td>919.834.6010</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fax Number:</th>
                                        <td>555.555.5555td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Credit Term:</th>
                                        <td>Net 45</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Credit Application:</th>
                                        <td>On File</td>
                                    </tr>
                                 </tbody>
                            </table>
                        </div>


                    
                        <div class="divider d-solid d-single no-mobile"></div>
                        
                        

                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2>Primary Contact</h2>
                            </div>
                        </div>   
                        <div class="col-md-12 col-sm-12 table-scroll">   
                            <table class="table table-simple table-end-no-button">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th class="td-center">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% include '_contact-row.html' %}
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase table-begin">
                                <h2>Additional Contacts</h2>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 table-scroll table-end">   
                            <table class="table table-simple">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th class="td-center">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in "1234567" %}
                                        {% include '_contact-row.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-small btn-theme-border-color">REQUEST NEW CONTACT</a>
                        </div>



                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2>Ship To Locations</h2>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 table-scroll table-end">   
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ship To Address</th>
                                        <th class="td-center">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for i in "12345" %}
                                        {% include '_shipto-row.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>

                                <a href="#" class="btn btn-small btn-theme-border-color">REQUEST NEW SHIPPING LOCATION</a>

                        </div>
                        


                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2>Bill To Locations</h2>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 table-scroll table-end">   
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Bill To Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for i in "1" %}
                                        {% include '_billto-row.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>

                            <a href="#" class="btn btn-small btn-theme-border-color">REQUEST TO CHANGE BILLING LOCATION</a>

                        </div>
                        


                    </div>
                </div>
            </div>
        </section>
        <!--body content end-->
        
{% endblock content%}