{% extends "base.html" %}

{% block header %}
    <title>Contact Details</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h1 class="text-uppercase">Barb Severson</h1>
                                
                            </div>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <a href="#" class="btn btn-small btn-theme-border-color top-cta btn-block">REQUEST CHANGE TO PROFILE</a>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Email</span>
                                <h4 class="text-regular"><a href="mailtorupchurch@hagemeyerna.com"> bseverson@hagemeyerna.com</a></h4>
                            </div>
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Business Phone</span>
                                <h4 class="text-regular">919.835.1778</h4>
                            </div>
                        
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Mobile Phone</span>
                                <h4 class="text-regular"> (---) --- ----</h4>
                            </div>

                       
                            <div class="heading-title-alt text-left">
                                <span class="heading-sub-title text-uppercase theme-color">Fax Number</span>
                                <h4 class="text-regular"> (---) --- ----</h4>
                            </div>
                        </div>
                        
                        <div class="divider d-solid d-single ">
                        </div>
                        
                        <div class="col-md-6 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h3>Email Notifications</h3>
                                 </div>
                        </div>
                         <div class="col-md-12 col-sm-12">   
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Ship To</th>
                                        <th>Email Notification Settings</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in "12345" %}
                                        {% include '_shipto-email-row.html' %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-small btn-theme-border-color">REQUEST UPDATE TO EMAIL NOTIFICATIONS</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>
        <!--body content end-->
        
{% endblock content%}