{% extends "base.html" %}

{% block header %}
    <title>Get Help</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2 class="heading-title">Your message has been submitted</h2>
                            </div>
                            <div class="form-group">
                                <p>Thank you for submitting a Get Help inquiry request. A ChemPoint Customer Solutions representative will review and respond to you within one business day.</p> 

                                <p>Below is a summary of your Get Help inquiry. If you find you need to add any additional information to this inquiry, please reply to this email with your additions. </p>
                            </div>
                        </div>
                        
                    </div>
                                      
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">

                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <p><strong>Your Inquiry Summary: </strong></p>

                                            <p>Please make a change to my profile.</p>

                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
                                        </div>

                                        <div class="form-group">
                                            <a href="https://my.chempoint.com" class="btn btn-small btn-theme-border-color" style="float: right;">RETURN TO MY CHEMPOINT HOME
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--body content end-->

{% endblock content%}