{% extends "base.html" %}

{% block header %}
    <title>Get Help</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h1 class="heading-title">Get Help</h1>
                            </div>
                        </div>
                        
                    </div>

                                                             
                    <div class="row testimonials" style="margin-bottom: 45px;">
                        <!--testimonials start-->
                        <div class="testimonials col-md-6 col-sm-6">
                            <div class="team-pic">
                                <a href="#">
                                    <img src="static/img/lightbulb.jpg" alt="New Product Questions">
                                </a>
                            </div>
                            <div class="team-info"><p><strong>PRODUCT QUESTIONS</strong><br />
                                Connor Cahill<br />
                                Sales Professional <br />
                                555.555.5555 (phone)<br />
                                Connor.Cahill@chempoint.com</p>
                            </div>
                        </div>
                        <div class="testimonials col-md-6 col-sm-6">
                            <div class="team-pic">
                                <a href="#">
                                    <img src="static/img/order_questions.jpg" alt="Order Questions">
                                </a>
                            </div>
                            <div class="team-info"><p><strong>ORDER QUESTIONS</strong><br />
                                Customer Solutions Specialist<br />
                                55.555.5555 (phone)<br />
                                444.444.4444 (fax)<br />
                                Customer.Solutions@ChemPoint.com</p>
                                </div>
                        </div>
                        <!--testimonials end-->
                    </div>
                    <div class="divider d-solid d-single no-mobile"></div>  



                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <p>Add paragraph text to explain to customer support process/SLA Add paragraph text to explain to customer support process/SLA</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>


                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <label for="form-field-name">How can we help?</label>
                                    
                            <div class="dropdown">
                                <button class="btn btn-small btn-block btn-theme-border-color dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">General Inquiry
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-button">
                                    <li><a href="#">General Inquiry</a></li>
                                    <li><a href="#">Order Inquiry</a></li>
                                    <li><a href="#">Quote Inquiry</a></li>
                                    <li><a href="#">New Quote Request</a></li>
                                    <li><a href="#">Document Request</a></li>
                                    <li><a href="#">Change to Email Notifications</a></li>
                                    <li><a href="#">Change To My Profile</a></li>
                                    <li><a href="#">Change To Contact</a></li>
                                    <li><a href="#">New Contact Request</a></li>
                                    <li><a href="#">Change To Account</a></li>
                                    <li><a href="#">Change To Bill To</a></li>
                                    <li><a href="#">Change To Ship To</a></li>
                                    <li><a href="#">New Ship To Request </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <script type="text/javascript">
                                $('section .dropdown-toggle').dropdown(); 
                            </script> 
                            
                            <div class="cmnt-text form-group">
                                <!-- Comment -->
                                <textarea name="comments" class="cmnt-text form-control" placeholder="Brief Description"></textarea>
                        </div>
                                    

                        <div class="form-group">
                            <button class="btn btn-small btn-dark-solid" style="float: right;">SUBMIT
                            </button>
                        </div>
                       
                    </div>
                






                </div>
            </div>
        </section>
        <!--body content end-->

{% endblock content%}