{% extends "base_login.html" %}

{% block header %}
    <title>Great! Your access is on its way.</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content ">


            <div class="page-content">
                <div class="container login-page">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <h4>Great! Your access is on its way.</h4>
                                            <p>You will receive an email within 2 business hours to create your MyChemPoint password and log into the website. If you have any questions, please contact our customer solutions team at 800.485.9569, or submit an inquiry on our <a href="https://www.chempoint.com/contact">contact us page</a>.</p>                                        
                                        </div>
                                        <div class="form-group">
                                            <a href="https://www.chempoint.com/" class="btn btn-small btn-dark-solid full-width">CHEMPOINT HOME
                                            </A>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!--body content end-->

{% endblock content%}