{% extends "base_login.html" %}

{% block header %}
    <title>Reset Password</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content ">


            <div class="page-content">
                <div class="container login-page">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Passwords don't match. </strong> Please enter your password again.
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="login-form-password" value="" class="form-control " placeholder="Enter Password">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="login-form-password" value="" class="form-control " placeholder="Confirm Password">
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-small btn-dark-solid full-width">SUBMIT
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!--body content end-->

{% endblock content%}