{% extends "base_login.html" %}

{% block header %}
    <title>Reset Password</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content ">


            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                                            <p>An email has been sent to you with a link to reset your password. Please check your spam folder if you do not see the mail in the next 10 minutes.</p>
                                                        </div>

                                                        
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!--body content end-->

{% endblock content%}