{% extends "base_login.html" %}

{% block header %}
    <title>Login to My ChemPoint</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content ">


            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <p>Your password has been created.  Login below:</p>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="login-form-password" value="" class="form-control " placeholder="Email Address">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="login-form-password" value="" class="form-control " placeholder="Password">
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-small btn-dark-solid full-width">LOGIN
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!--body content end-->

{% endblock content%}