{% extends "base.html" %}

{% block header %}
    <title>Orders</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h1>Place an Order</h1>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12">
                            <div>
                                <p>To begin your order, select your Ship To and Final Destination Country below.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6 col-sm-12 col-xs-12"> 
                            
                                    
                            <div class="dropdown">
                                <button class="btn btn-small btn-small-dropdown btn-block btn-dropdown-border-color dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">Select Ship To
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-button">
                                    <li><a href="#">Ship To Example #1</a></li>
                                    <li><a href="#">Ship To Example #2</a></li>
                                    <li><a href="#">Ship To Example #3</a></li>
                                    <li><a href="#">Ship To Example #4</a></li>
                                    <li><a href="#">Ship To Example #5</a></li>
                                    <li><a href="#">Ship To Example #6</a></li>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                $('section .dropdown-toggle').dropdown(); 
                            </script> 
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12"> 
                            
                                    
                            <div class="dropdown">
                                <button class="btn btn-small btn-small-dropdown btn-block btn-dropdown-border-color dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">Select Final Destination Country
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-button">
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                    <li><a href="#">All Countries Here</a></li>
                                </ul>
                            </div>
                            <script type="text/javascript">
                                $('section .dropdown-toggle').dropdown(); 
                            </script> 
                        </div>



                        <div class="col-md-12"> 
                            <a href="#" class="btn btn-small btn-theme-border-color btn-right">CONTINUE WITH YOUR ORDER</a>
                        </div>


<div class="divider d-solid d-single"></div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 table-overview">
                            <div class="text-left">
                                <h4>You have <strong>3</strong> unsubmitted carts:</h4>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 table-scroll table-end">   
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date Modified</th>
                                        <th>PO</th>
                                        <th>Ship To</th>
                                        <th class="td-center">Delete Order</th>
                                        <th class="td-center" >Continue Order</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for i in "123" %}
                                        {% include '_cart-row.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>

                        

                        </div>
                    </div>
                 


                    </div>
                </div>
            </div>
        </section>
        <!--body content end-->

{% endblock content%}