{% extends "base.html" %}

{% block header %}
    <title>Place an Order</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12"> 
                            <div>
                                <a href="index.html"><img src="static/img/checkout.png" style="width: 100%;"></a>
                            </div>
                            <div class="text-left order-title">
                                <h2 class="text-uppercase">Place an Order</h2>
                                <p>Ship To: 2820 Yonkers Rd, Raleigh, NC 27604-3230, USA<br>
                                Final Destination Country: United States of America</p>
                            </div> 

                            <div class="col-md-6 col-sm-12 col-xs-12 two-columns"> 
                                <label for="form-field-name">Freight Terms</label>
                                        
                                <div class="dropdown">
                                    <button class="btn btn-small btn-block btn-theme-border-color dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">General Inquiry
                                      <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-button">
                                        <li><a href="#">ChemPoint Freight - $5</a></li>
                                        <li><a href="#">Freight Collect</a></li>
                                        <li><a href="#">3rd Party Logistics</a></li>
                                        <li><a href="#">Pickup/Will Call</a></li>
                                        <li><a href="#">Other</a></li>
                                    </ul>
                                </div>
                                <script type="text/javascript">
                                    $('section .dropdown-toggle').dropdown(); 
                                </script> 
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 two-columns"> 
                                <label for="form-field-name">Freight Terms</label>
                                        
                                <div>
                                    <input type='text' class="form-control" id='datetimepicker4' />
                                </div>
                                        
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker4').datetimepicker();
                                });
                            </script>
                        </div>






                        <div class="col-md-4 col-sm-6 col-xs-12 place-order-sidebar"> 
                            <div class="form-group">
                                <button class="btn btn-small btn-dark-solid full-width" value="login">CONTINUE TO SHIPPING
                                </button>
                            </div>
                            <table class="top-table table table-simple table-money text-right" >
                                <tbody>
                                    <tr>
                                        <th scope="row">Subtotal:</th>
                                        <td>$334,567.O045</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping:</th>
                                        <td>$5.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processing/Fees:</th>
                                        <td>$100.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tax:</th>
                                        <td>Exempt</td>
                                    </tr>
                                </tbody>      
                            </table>
                            <table class="top-table table table-simple table-money table-total text-right" >
                               <tbody>
                                    <tr>
                                        <th scope="row">Order Total:</th>
                                        <td>$334,572.0000</td>
                                    </tr>       
                                </tbody> 
                            </table>
                        </div>
                    </div>




<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker3'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker3').datetimepicker({
                    format: 'LT'
                });
            });
        </script>
    </div>
</div>














                    
                    <div class="divider d-solid d-single "></div>
                        
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2>Shipment 1 of 2</h2>
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12">
                            <div class="text-left">
                                <p>Shipment Status: Shipped<br>
                                Ship Date: Jun 23, 2017<br>
                                Expected Delivery Date: Jun 25, 2017<br>
                                Shipping Mode: Parcel<br>
                                Carrier: FEDEX </p>  
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="text-left">
                                <p>Freight Service: Ground<br>
                                Tracking/PRO: <br>
                                Freight Cost: $5 <br>
                                Bill of Lading: Download from FEDEX</p>  
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                             <button type="button" class="btn btn-small btn-theme-border-color btn-block top-cta">DOWNLOAD INVOICE</button>
                            <button type="button" class="btn btn-small btn-theme-border-color btn-block">ASK ABOUT THIS SHIPMENT</button>
                        </div>

                        <div class="col-md-12 col-sm-12 table-scroll">   
                            <table class="table table-simple table-money">
                                <thead>
                                    <tr>
                                        <th class="first-item">Product</th>
                                        <th>Quantity</th>
                                        <th class="lot">Price Per SKU</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in "123" %}
                                        {% include '_product-row.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 price-summary shipment-summary"> 
                            <table class="top-table table table-simple table-money text-right" >
                                <tbody>
                                    <tr>
                                        <th scope="row">Subtotal:</th>
                                        <td>$334,567.O045</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping:</th>
                                        <td>$5.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processing/Fees:</th>
                                        <td>$100.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tax:</th>
                                        <td>Exempt</td>
                                    </tr>
                                </tbody>      
                            </table>
                            <table class="top-table table table-simple table-money table-total text-right" >
                               <tbody>
                                    <tr>
                                        <th scope="row">Shipment Total:</th>
                                        <td>$334,572.0000</td>
                                    </tr>       
                                </tbody> 
                            </table>
                        </div>
                    </div>



                    <div class="divider d-solid d-single-light"></div>
                        
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="text-left text-uppercase">
                                <h2>Shipment 2 of 2</h2>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-xs-12">
                            <div class="text-left">
                                <p>Shipment Status: Shipped<br>
                                Ship Date: Jun 23, 2017<br>
                                Expected Delivery Date: Jun 26, 2017<br>
                                Shipping Mode: Parcel<br>
                                Carrier: FEDEX </p>  
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="text-left">
                                <p>Freight Service: Ground<br>
                                Tracking/PRO: <br>
                                Freight Cost: $5 <br>
                                Bill of Lading: Download from FEDEX</p>  
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                             <button type="button" class="btn btn-small btn-theme-border-color btn-block top-cta">DOWNLOAD INVOICE</button>
                            <button type="button" class="btn btn-small btn-theme-border-color btn-block">ASK ABOUT THIS SHIPMENT</button>
                        </div>

                        

                        <div class="col-md-12 col-sm-12 table-scroll">   
                            <table class="table table-simple table-money">
                                <thead>
                                    <tr>
                                        <th class="first-item">Product</th>
                                        <th>Quantity</th>
                                        <th class="lot">Price Per SKU</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in "123" %}
                                        {% include '_product-row.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 col-md-offset-8 col-xs-12 shipment-summary">     
                            <table class="table table-simple table-money text-right" >
                                <tbody>
                                    <tr>
                                        <th scope="row">Subtotal:</th>
                                        <td>$334,567.O045</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping:</th>
                                        <td>$5.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processing/Fees:</th>
                                        <td>$100.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tax:</th>
                                        <td>Exempt</td>
                                    </tr>
                                </tbody>      
                            </table>
                            <table class="top-table table table-simple table-money table-total text-right" >
                               <tbody>
                                    <tr>
                                        <th scope="row">Shipment Total:</th>
                                        <td>$334,572.0000</td>
                                    </tr>       
                                </tbody> 
                            </table>
                        </div>
                    </div>





                </div>
            </div>
        </section>
        <!--body content end-->
        
{% endblock content%}