{% extends "base.html" %}

{% block header %}
    <title>Place an Order - Handling</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content" style="z-index: 3">
            <div class="page-content">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-xs-12"> 
                            <div>
                                <a href="index.html"><img src="static/img/checkout-checkout.jpg" style="width: 100%;"></a>
                            </div>
                            <div class="text-left order-title">
                                <h2 class="text-uppercase">Checkout</h2>
                                <p class="order-info no-float">Ship To: 2820 Yonkers Rd, Raleigh, NC 27604-3230, USA<br>
                                Final Destination Country: United States of America<br>
                                Your PO for this order:  123345678<br>
                                Requested Pick Up Date: Dec 25, 2017</p>
                                
                                  
                            </div> 
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12 place-order-sidebar-light">   
                            <button class="btn btn-medium btn-dark-solid full-width top-cta" value="continue">SUBMIT ORDER
                            </button>
                       
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-xs-12 table-overview">
                            <div class="text-left text-uppercase">
                                <h4>Products in this order</h4>
                            </div>
                        </div>
                   </div>
                    <div class="row">
                       <div class="col-md-12 col-sm-12 table-scroll table-end">   
                            <table class="display table table-simple table-money table-scroll">
                                <thead>
                                    <tr>
                                        <th class="first-item">Product</th>
                                        <th class="first-item">MOQ</th>
                                        <th class="first-item"> Quantity</th>
                                        <th>Price</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for i in "123" %}
                                        {% include '_cart-checkout.html' %}
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>



                        <div class="col-md-4 col-md-offset-8 col-xs-12 shipment-summary">     
                            <table class="table table-simple table-money text-right" >
                                <tbody>
                                    <tr>
                                        <th scope="row">Subtotal:</th>
                                        <td>$334,567.O045</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Shipping:</th>
                                        <td>$5.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Processing/Fees:</th>
                                        <td>$100.0000</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tax:</th>
                                        <td>Exempt</td>
                                    </tr>
                                </tbody>      
                            </table>
                            <table class="top-table table table-simple table-money table-total text-right" >
                               <tbody>
                                    <tr>
                                        <th scope="row">Shipment Total:</th>
                                        <td>$334,572.0000</td>
                                    </tr>       
                                </tbody> 
                            </table>
                        </div>


              

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="toggle accordian-checkout">
                                <dt class="">
                                    <a href="" class="accordian-checkout">Shipping Information</a>
                                </dt>
                                <dd style="display: block;">
                                    <p>Shipping Address: 1234 B Ward Ave, Wardtown, IL  03421, USA<br>
                                    Requested Delivery Date: Dec 25, 2017<br>
                                    Freight Terms: ChemPoint Freight<br>
                                    Carrier Service Level: Next Day<br>
                                    Special Carrier Service: None / Temp Control / Freeze Protect</p>
                                </dd>
                                <dt class="">
                                    <a href="" class="accordian-checkout">Handling Information</a>
                                </dt>
                                <dd style="display: block;">
                                    <div class="col-md-6 col-sm-12 col-xs-12 two-columns"> 
                        
                                <p class="p-title"><strong>DOCUMENTATION</strong></p>
                                <p>• PO # on Documents<br>
                                    • Customer Product Code # on Documents<br>
                                    • Customer Product Name on Documents<br>
                                    • Include COA with Shipment<br>
                                    • Include MSDS with Shipment</p>
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12 two-columns"> 
                              
                                        
                                <p class="p-title"><strong>PACKAGING</strong></p>
                                <p>•  Palletize<br>
                                    • Shrink Wrap<br>
                                    • Bar Codes<br>
                                    • Customer Product # on Product<br>
                                    • PO# on Product</p>
                            </div>

                            <div class="text-left">
                                <p class="p-title"><strong>SPECIAL INSTRUCTIONS</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                            </div> 
                            <div class="text-left">
                                <p class="p-title"><strong>ADDITIONAL INSTRUCTIONS</strong></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                            </div> 
                                </dd>
                                <dt>
                                    
                                </dt>
                                
                            </dl>
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!--body content end-->
        
{% endblock content%}