{% extends "base_login.html" %}

{% block header %}
    <title>Request Access to My ChemPoint</title>
{% endblock header%}

{% block content %}

        <!--body content start-->
        <section class="body-content ">


            <div class="page-content">
                <div class="container login-page">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <section class="normal-tabs line-tab">
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="form-group">
                                            <p>Your ChemPoint account setup request has been received! A ChemPoint account rep will contact you within 1 business day to complete the final steps. If you have any questions, feel free to call us at 800.485.9569, or submit an inquiry from our <a href="https://www.chempoint.com/contact">contact us page.</a></p>                                        
                                        </div>
                                        <div class="form-group">
                                            <a href="https://www.chempoint.com/" class="btn btn-small btn-dark-solid full-width">CHEMPOINT HOME
                                            </A>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

            </div>


        </section>
        <!--body content end-->

{% endblock content%}